@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@plugin "daisyui";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/autoplay';


html,
body {
    /* overflow-x: hidden; */
    background-color: #FAF6F0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.link-underline {
    position: relative;
    overflow: hidden;
    height: 35px;
    display: flex;
    align-items: center;
}

.link-underline::after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 0%;
    height: 2.5px;
    border-radius: 20%;
    background-color: #940039;
    transition: width 0.3s ease, left 0.3s ease;
}


.link-underline:hover::after {
    width: 100%;
    border-radius: 20%;
    left: 0;
    right: auto;
}